[submodule "themes/hermit"]
	path = themes/hermit
	url = https://github.com/Track3/hermit
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/osprey"]
	path = themes/osprey
	url = https://github.com/tomanistor/osprey.git
[submodule "themes/hugo-goa"]
	path = themes/hugo-goa
	url = https://github.com/shenoydotme/hugo-goa.git
