body {
    font-family: 'Rubik', sans-serif;
    background: #eeeeef;
}

#preamble {
    margin: 0;
    padding: 20px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#preamble h1 {
    margin: 0;
    margin: 8pt 0 20pt 0;
    font-size: 200%;
    text-align: right;
}

#header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

#header li {
    float: left;
}

#header li a {
    display: block;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 6px 14px 6px 16px;
    border-top: 4px solid #eeeeef;
    border-bottom: 4px solid #eeeeef;
}

#header li a:hover {
    border-bottom: 4px solid #966;
}

#content {
    margin: 0;
    padding: 20px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5em;
}

#content h1, h2 {
    margin: 0;
    padding: 12pt 0 6pt 0;
}

#content h1 {
    text-align: center;
    font-size: 150%;
}

#content h2 {
    font-size: 130%;
}

#content h3 {
    font-size: 120%;
}

#content h4 {
    font-size: 100%;
    font-style: italic;
}

#content p {
    text-align: justify;
}

#content div.published p {
    font-size: 90%;
    font-style: italic;
    color: #666;
    padding: 0;
    margin: 0 0 12pt 0;
    line-height: 1em;
}

#content h2:hover::before {
    content: "§";
    display: block;
    float: left;
    margin: 0 -1.2em 0 -1.2em;
    color:  #ccccd0;
}

#postamble {
    width: 900px;
    margin: 20px auto 20px auto;
    padding: 20px 0 0 0;
    font-size: 0.7em;
    color: #99999a;
    border-top: 1px solid #ccc;
}

#postamble p {
    border: 0;
    padding: 0;
    margin: 0;
}

.pagination ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin: 12pt 0 12pt 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 4pt 0 4pt 0;
}

.pagination ul > :first-child {
    float: left;
}

.pagination ul > :last-child {
    text-align: right;
}

.org-center {
    text-align: center;
}

.org-center img {
    margin-left: auto;
    margin-right: auto;
    dispaly: block;
}

a {
    text-decoration: none;
    color: #966;
}

dt {
    float: left;
    width: 5em;
    font-weight: bold;
    text-align: right;
    padding: 4px 0 4px 0;
}

dd {
    margin-left: 6em;
    padding: 4px 0 4px 0;
}

img {
    display: block;
    max-width: 900px;
    width: auto;
    height: auto;
}

div.splash img {
    border: 2px solid #ccc;
}

figure {
    padding: 0;
    margin: 0;
}

code {
    font-family: 'Source Code Pro', monospace;
}

table {
    border-collapse: collapse;
    border: 0;
}

td, th {
    padding: 4px 10px;
}

caption {
    margin-top: 12pt;
    margin-bottom: 4pt;
}

blockquote {
    font-style: italic;
}

th {
    border-bottom: 2px solid black;
}

pre {
    overflow: auto;
    padding: 12pt;
    background: #ffffe6;
    border: 1px solid #666;
    font-size: 10pt;
    font-family: 'Source Code Pro', monospace;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.post {
    margin: 10pt 0 10pt 0;
    padding: 20pt;
    border: 1px solid #ccc;
}

.morelink {
    font-weight: bold;
}

.tags {
    font-size: 90%;
    color: #668;
}

.tag {
    display: block;
    font-family: inherit;
    font-size: 0.7em;
    font-style: italic;
    background-color: inherit;
    backgrond: inherit;
}

/* Resume stuff */

#content .resumecontact p {
    text-align: center;
}

.skills p {
    padding: 0;
    margin: 3pt 0 3pt 0;
}

.skills,
.work-experience h3,
.personal-project h3,
.education h3 {
    margin-bottom: 0;
    padding-bottom: 0;
}

.skills,
.work-experience h4,
.personal-project h4,
.education h4 {
    margin: 0;
    padding: 0;
}
